.content {
     padding:20px 0;
     margin-top: 30px;
     margin-bottom: 30px;
     border: 1px solid #b9b9b9;
}
section {
    padding: 0 20px;
}


div.rating span.rating-active small svg polygon {
    fill: #001fbf;
}



